* {
    
    background-color:  RGB(32, 33, 36);
    color: rgb(10, 121, 102);
}
body {
    font-family: 'Anek Latin', sans-serif;
    margin: 0;
    
}
 
.header {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px 5px 0 0;
    justify-content: space-between;
    font-size: 2rem;
    align-items: center;
    color: black;
}
.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    list-style: none;
}

.h1 {
    background-color: RGB(89, 189, 2);
    opacity: 0.25;
    color: black;
    border-radius:0 7px 7px 0;
}
.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pic {
    display: flex;
    justify-content: center;
    
    
}
.child1, .child2, .child3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.20rem;
    padding-bottom: 10px;
}
.parent p {
    display: flex;
    font-size: 1.75rem;
    justify-content: center;
    padding-left: 10rem;
    padding-right: 10rem;
}
.projects {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem; 
    justify-content: center;
    align-items: center;
   
}
.projects .images {
  display: flex;
  flex: 1;
  max-width: 100%;
  min-width: none;
  max-height: 90%;
  border: solid 3px;
  
  
}
.projects2 {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.projects2 .images {
    max-width: 100%;
    max-height: 90%;
    border: solid 3px;
  }

.contactinfo {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 1.5rem;
}
.first {
    position: relative;
}
.text-block {
    position: absolute;
    top: 0;
    background-color: rgba(10, 121, 102, .74) ;
    font-size: 1rem;
    padding: 0 20px 0 20px;
    
}
a:hover {
cursor: hands;
}
img:hover {
    cursor: hands;
    }
.img {
    display: flex;
    border-radius:0 7px 7px 0;
    border: 3px solid rgba(89, 189, 2, .35);
    width: 100%;
    margin-bottom: 10rem;
}

@media screen and (max-width: 916px) {
    body {
        flex-direction: column;}
    .images {
        height: auto;
}

@media screen and (max-width: 1200px) {
    main, .parent p {
        padding: 0;
    }